HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/*
!.idea/
!.idea/codeStyles
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Configuration ###
src/main/resources/application-*.yml
!src/main/resources/application-example.yml

### Docker ###
docker/mysql/db
docker/mongo/db
docker/rabbitmq/lib
docker/rabbitmq/log
docker/rabbitmq/conf/*.conf
docker/server/dumps
docker/server/logs
docker/redis
docker/opensearch
docker/.DS_Store
docker/*.env
!docker/example.env